@import '../Variables/Variables.scss';


@mixin card {
    background-color: #fff;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(226, 226, 226, 0.2);
    border-radius: 5px;
    height: 600px;
    transition: all 0.5s ease;
    font-size: clamp(16px, 1.5vw, 24px);
    width: 360px;
}

@mixin cardHover {
    opacity: 0.6;
}

.project {
    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        gap: 20px;
    }

    &__item {

        list-style: none;
    }
}

.disabled {
    color: red !important;
    text-decoration: line-through !important;
    pointer-events: none;

}

.card {

    width: 100%;
    background-color: $font__color__a__hover;
    border-radius: 5px
}

.card__front {
    @include card();
    transform: rotateY(0deg);


    &:hover {
        @include cardHover();
        box-shadow: 0 8px 16px 0 rgba(255, 253, 253, 0.856);


    }

    &>img {
        width: 100%;
        min-height: 450px;
        max-height: 450px;
        overflow: hidden;
        padding: 10px;
    }

    &__container {
        padding: 10px;

        &__git>a {
            display: block;
            color: blue;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }

}

.card__back {
    @include card();
    font-size: clamp(12px, 2vw, 20px);
    transform: rotateY(180deg);

    &__container {
        padding: 10px;
        //to prevent from text being reversed
        transform: rotateY(-180deg);
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;

        &>footer {
            display: flex;
            justify-content: center;

            &>button {
                @include buttonStyle();

                &:hover {
                    @include buttonHover();
                }
            }
        }

    }

}

@include mobile {
    .project {
        &__list {

            display: grid;
            grid-template-columns: repeat(1, 1fr);

        }
    }
}

@include tablet {
    .project {
        &__list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

        }
    }
}

@media (min-width: 1600px) {
    .project {
        &__list {

            display: grid;
            grid-template-columns: repeat(3, 1fr);


        }
    }
}



// @media screen and (max-width: $screen__tablet) {
//     .project {
//         &__list {

//             display: grid;
//             grid-template-columns: repeat(1, 1fr);

//         }
//     }
// }

// @media screen and (min-width: $screen__tablet) {
//     .project {

//         &__list {

//             display: grid;
//             grid-template-columns: repeat(2, 1fr);

//         }
//     }
// }

// @media only screen and (min-width: $screen__pc) {
//     .project {
//         &__list {

//             display: grid;
//             grid-template-columns: repeat(4, 1fr);

//         }
//     }
// }