@import '../Variables/Variables.scss';

@mixin point {
    background-color: orange;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

@mixin innerPoint {
    background-color: #fff;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    position: absolute;
    transform: translate(50%, 50%);
}

.timeline {
    border-bottom: 8px solid red;
    width: 70%;
    margin: 5%;
    align-self: center;
    position: relative;
    display: flex;
    justify-content: space-between;

    &__point__container {
        width: 100%;
        position: absolute;
        transform: translateY(-50%);
        display: flex;
        justify-content: space-evenly;
    }

    &__point__1 {
        @include point()
    }

    &__point__2 {
        @include point()
    }

    &__point__3 {
        @include point()
    }

    &__point__4 {
        @include point()
    }
}

.inner {
    @include innerPoint();
    z-index: 10;
}

.content {
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 11% 76%, 0 100%, 0% 75%);



    position: absolute;
    width: 400px;
    height: 200px;
    background-color: blue;
    z-index: 1000;

    bottom: 0;
    transform: translate(10px, -10px);
}