@import "../../Variables/Variables.scss";




.about-main {

  &__container {
    display: grid;
    grid-template-columns: 1fr;
  }

  &__title {

    font-size: $font__body;

  }



  &__section {
    margin: 10px 0;

    &__blog {
      font-size: 1em;

      &:hover {}
    }

    &__moon {
      font-size: 1vw;
      padding: 10px;
      list-style: none;

      &:hover {
        color: black;
        background-color: white;
        border-radius: 5px;
        padding: 10px;
      }
    }
  }



  &__section__contact {

    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__sns {
      font-size: 40px;

      &__list {
        display: flex;
      }

      &__item {
        list-style: none;
        margin: 10px;
      }

      &__item:hover {
        transform: scale(1.1);
      }
    }

  }
}