@import "../../Variables/Variables.scss";

@mixin section {

  border-radius: 5px;
  background-color: white;
  padding: 10px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  font-size: clamp(16px, 1.5vw, 40px);
  height: 94vh;
  width: 95%;


}

article>p {
  margin: 5px 0;
}

.about-main {

  width: 100%;
  margin: 0;

  &__container {
    display: grid;
    grid-template-columns: 1fr;
    scroll-snap-type: y proximity;
    overflow-y: auto;
    justify-items: center;
    height: 100vh;
    width: 100%;



    &::-webkit-scrollbar {
      width: 0px;
      background: transparent;

    }
  }

  &__title {
    font-size: $font__header;
  }

  &__section {
    //width: fit-content;
    margin: 30px 0;
    height: 100vh;
    scroll-snap-align: start;

    &__blog {
      @include section();
      display: flex;
      justify-content: center;
      font-size: clamp(16px, 2vw, 24px);

      &__edu {
        margin: 5%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 100%;
      }

      &__contact {
        color: black;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid $tertiary__color;
        border-radius: 5px;
        transition: all .2s ease-in-out;

        &:hover {
          border: 1px dashed $highlight-color;
          transform: scale(1.1);
        }

        &__sns {

          font-size: clamp(40px, 3vw, 80px);

          &__list {
            display: flex;
          }

          &__item {
            list-style: none;
            margin: 10px;

            & a {
              color: black;
            }
          }

          &__item:hover {
            transform: scale(1.1);
          }

        }
      }
    }

    &__moon {
      @include section();
      font-size: clamp(16px, 1.5vw, 25px);
    }

    &__project {

      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 1vw;
      padding: 10px;
      list-style: none;
      width: 100%;

    }
  }
}

@include mobile {
  .about-main {
    &__section {
      &__moon {
        &__charlist {
          display: none;
        }

      }

    }
  }





}



// @include pc {}