@import "../../Variables/Variables.scss";

.main {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;


    &__intro {
        display: inline-block;
        font-size: 5vw;

        &__typing {
            // color: red;
        }
    }

    &__charts {
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 1.5rem;
        justify-items: center;
    }

    &__chart {
        min-width: 0;
        max-width: 680px;
        width: 100%;
        justify-content: center;
        align-items: center;

        &__container {
            width: 100%;
            height: 70vh;
            padding: 10px;
            border-radius: 10px;
            margin-top: 10px;
            box-shadow: 1px 1px 2px 2px #FFF;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;

            &__postlist {
                border: 3px solid $border__primary__color;
                border-radius: 5px;
                width: 90%;
                height: 30%;



            }
        }
    }

    &__sns {
        font-size: 50px;
        display: flex;
        padding: 10px;
        justify-content: center;
        align-items: center;
        margin: 20px 0;

        &__list {
            display: flex;
        }

        &__item {
            list-style: none;
            margin: 20px;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

@media screen and (max-width: $screen__mobile) {
    .main {
        justify-content: flex-start;

        &__charts {
            grid-template-rows: 1fr 1fr 1fr;
        }

        &__chart {

            max-width: 250px;
            max-height: 600px;

            justify-content: center;
            align-items: center;


            &__container {

                width: 100%;
                padding: 10px;
            }

        }
    }
}

@media screen and (max-width: $screen__tablet) {
    .main {
        justify-content: flex-start;

        &__charts {
            grid-template-columns: 1fr;
            grid-template-rows: 3fr 3fr 0.5fr;
        }

        &__chart {
            max-width: 400px;
            max-height: 600px;
            width: 100%;
            justify-content: center;
            align-items: center;


            &__container {
                width: 100%;
                height: 500px;
                padding: 10px;
            }

        }

        &__sns {

            padding: 10px;
            right: 0;


            &__list {
                display: flex;
                justify-content: center;
            }

            &__item {
                margin: 10px;
                list-style: none;
                font-size: 40px;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }

}


.blinking {
    &__show {
        font-weight: bold;
    }

    &__hide {
        display: none;
    }
}