@import "../../Variables/Variables.scss";

.post-main {
  &__btn {
    @include buttonStyle();
    &:hover {
      @include buttonHover();
    }
  }
  &__title {
    font-size: $font__header;
  }
  &__section {
    display: flex;
    &__aside {
      //postNav container
      &__pull {
        display: none;
      }
    }
  }
}

@media screen and (max-width: $screen__mobile) {
  .post-main {
    // &__title {
    // }
    &__section {
      display: flex;
      flex-direction: column;
      &__aside__active {
        position: absolute;
        border: 1px solid $tertiary__color;
        background-color: $tertiary__color;
        border-radius: 0 10px 10px 0;
        z-index: 100px;
        left: 0;
      }
      &__aside {
        display: none;
        &__pull {
          display: contents;
        }
      }
    }
  }
}
