@import "../Variables/Variables.scss";

.post-nav {
  display: flex;
  padding: 10px;

  &__list {
    display: flex;
    flex-direction: column;
  }
  &__item {
    list-style: none;
    margin: 10px;
    font-size: $font__post-nav;
    &:hover {
      cursor: pointer;
      color: $secondary__color;
    }
  }
}
