@import "../../Variables/Variables.scss";


.main-reg {
    height: 70vh;

    &__form-container {
        height: 100%;

        &__form {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &__btn {
                @include buttonStyle();

                &:hover {
                    @include buttonHover();
                }
            }
        }

        &__group {
            margin: 10px 0;
            position: relative;

            &>input {
                @include input();

                &:focus {
                    @include inputFocus();
                }
            }

            &>label {
                left: 4px;
                top: 4px;
                position: absolute;
            }

            &>input:focus+label,
            &>input:valid+label {
                display: none;
            }


        }



    }
}