$background__color: #0c003d;
$backgroud__secondary__color: #3e2d6d;
$primary__color: #005b9b;
$secondary__color: #0088b6;
$tertiary__color: #00b5c1;
$highlight-color: #9d7bf7;
$danger__color: #de6b4f;
$font__color: #fff;
$font__color__a:#00C9A2;
$font__color__a__hover:#C5FCEE;

$font__main-nav: 18px;
$font__post-nav: clamp(18px, 2vw, 30px);

$font__header:clamp(24px, 4vw, 48px);

$font__body: clamp(12px, 2vw, 24px);
$font__footer: 18px;


// 320px —480px : Mobile devices
// 481px — 768px: iPads, Tablets
// 769px — 1024px: Small screens, laptops
// 1025px — 1200px: Desktop
$screen__mobile: 0px;
$screen__tablet: 900px;
$screen__pc:1600px;

@mixin mobile {
  @media (min-width: #{$screen__mobile}) and (max-width: #{$screen__tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$screen__tablet}) and (max-width: #{$screen__pc - 1px}) {
    @content;
  }
}

@mixin pc {
  @media (min-width: #{$screen__pc}) {
    @content;
  }

}

//Button Style
@mixin buttonStyle {
  width: 200px;
  height: 40px;
  background-color: $tertiary__color;
  border: none;
  border-radius: 8px;
  color: $font__color;
  font-size: $font__body;
  margin: 10px 0;
}

@mixin buttonHover {
  width: 200px;
  height: 40px;
  background-color: $secondary__color;
  border: none;
  border-radius: 8px;
  color: $font__color;
  font-size: $font__body;
  cursor: pointer;
}